@import url("https://fonts.googleapis.com/css?family=Dosis:400,600,700");

html,
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  font-family: "Dosis", sans-serif !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --primary-clr: #c2383d;
  --grey-clr: #d0d0d0;
}

a:link {
  color: var(--primary-clr);
}

a:hover {
  font-weight: 700;
}

a:visited {
  color: var(--primary-clr);
}

:root {
  --primary-clr: #c2383d;
  --grey-clr: #d0d0d0;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 20px;
}
