/* html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
} */

:root {
  --primary-clr: #c2383d;
  --grey-clr: #d0d0d0;
}

a:link {
  color: var(--primary-clr);
}

a:visited {
  color: var(--primary-clr);
}
